button, input[type="submit"], input[type="reset"] {
	background: black;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {	
	background-color: black;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.container {
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	max-height: 47.5vw;
	left: 0;
	right: 0;
	top: 50%;
  transform: translateY(-50%);
	position: absolute;
	overflow: hidden;
}

@font-face {
	font-family: Fight;
	src: url('Persona5main.ttf');
}

@font-face {
	font-family: Normal;
	src: url('p5hatty.ttf');
}

*{
	font-family: Fight;
}

.hide {
	display: none;
	opacity: 0%;
}

.op0 {
	opacity: 0%;
}

#heading {
	position: absolute;
	top: 0;
	height: 15%;
}

.heading-rect {
	position: absolute;
	padding: 1vw;
	margin: 5vw;
	width: 50vw;
	height: auto;
	transform: skew(-20deg) rotate(-8deg);
	background: black;
	border: 0.5vw solid white;
	color: white;
	font-size: 2vw;
	text-align: center;
	word-spacing: 1vw;
	z-index: 5;
}

#split {
	display: flex;
	height: 100%;
}

#cpu {
	flex: 1;
}

.cpuImgIdle {
	width: 18vw;
	position: absolute;
	right: 18vw;
	bottom: 5vw;
}

.cpuImgWin {
	width: 31vw;
	position: absolute;
	right: 8vw;
	bottom: 5vw;
}

#cpu-score-img, #cpu-score-img0 {
	width: 10vw;
	position: absolute;
	right: 13vw;
	bottom: 22vw;
}

#cpu-score-img:hover, #cpu-score-img0:hover {
	width: 11vw;
	right: 12vw;
	bottom: 21vw;
}

.cpuScore {
	font-size: 4vw;
	color: rgba(123,238,205,255);
	position: fixed;
	right: 15vw;
	bottom: 26vw;
	display: none;
	pointer-events: none;
}

.hp-toggle {
	display: block;
}

#user {
	flex: 1;
}

.userImgIdle {
	width: 38vw;
	position: absolute;
	bottom: 0;
	left: -3%;
	z-index: 3;
	pointer-events: none;
}

.userImgWin {
	width: 42vw;
	position: absolute;
	bottom: -11vw;
	left: 0vw;
	z-index: 3;
}

.buttons {
	/*position: absolute;
	/*bottom: 10vw;
	left: 25vw;
	width: 14vw;*/
	height: auto;
	
	font-size: 2.2vw;
	color: white;
}

.btn {
	/*position: absolute;
	padding: 2%;
	width: 120%;*/
	padding-right: 0.5vw;
	overflow: hidden;
	letter-spacing: -0.6vw;
}

.btn-h:hover {
	background-color: red;
	/*border: 3px solid red;*/
	font-size: 2.5vw;
}

#b {
	position: absolute;
	width: 50vw;
	height: 50vw;
	left: -1.5vw;
	bottom: -15vw;
	transform: rotate(-20deg);
}

#user-bg {
	width: inherit;
}

#btnr {
	position: absolute;
	transform: rotate(-22deg);
	right: 8.5vw;
	top: 15vw;
}

#btnp {
	position: absolute;
	transform: rotate(10deg);
	right: 2.5vw;
	top: 26vw;
}

#btns {
	position: absolute;
	transform: rotate(30deg);
	right: 10vw;
	top: 32vw;
	letter-spacing: -0.8vw;
}

#footing {
	height: 15%;
}

#dialogue {
	position: absolute;
	width: 60vw;
	z-index: 5;
	bottom: 1vw;
	left: 25vw;
}

.dialogue-img {
	max-width: 100%;
}

.dialogue-text {
	color: white;
	bottom: 9vw;
	left: 10vw;
	position: relative;
	font-size: 3vw;
	text-align: left;
	font-family: 'Normal';
}

.footing-score {
	position: absolute;
	right: -10vw;
	bottom: -11.5vw;
	text-align: center;
	opacity: 80%;
}

.footing-score img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 40vw;
}

.userScore {
	font-size: 4vw;
	color: rgba(123,238,205,255);
	bottom: 14vw;
	left: 2vw;
	position: relative;
}

.footing-score-HP {
	font-size: 1.5vw;
	color: rgba(123,238,205,255);
	top: 15.5vw;
	left: -2vw;
	position: relative;
	letter-spacing: -0.7vw;
	font-weight: 1vw;
}

.scene-btns {
	position: absolute;
	font-size: 2vw;
	z-index: 5;
}

#scene-btns-home {
	left: 45%;
	right: 45%;
	top: 10vw;
}

#scene-btns-fight {
	bottom: -22.5vw;
	right: 20vw;
	opacity: 80%;
	font-size: 1.5vw;
}

#scene-btns-end {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	order: 2;
	animation: fadeIn 2s;
}

#home:hover, #play:hover {
	transform: scale(1.25);
	background-color: red;
	color: white;
	border: 0px;
}

#home, #play {
	color: white;
	padding: 1vw;
	z-index: 8;
	pointer-events: initial;
}

.play-home {
	border: 2px white solid;
}

.lose-dialogue {
	color: white;
	position: absolute; 
	font-size: 3vw;
	font-family: 'Normal';
	width: 100%;
	text-align: center;
	top: 20vw;
}

#scene {
	position: absolute;
	left: 0;
	top: 50%;
  transform: translateY(-50%);
	width: 100%;
	height: auto;
	z-index: 7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	pointer-events: none;
}

	/* display: flex;
	flex-direction: column;


	position: absolute; */

.crit-screen {
	transform: scaleX(0);
	transform-origin: 0% 50%;
	animation: crit 2s;
	z-index: 6;
}

.start-screen, .victory-screen, .victory-end, .crit-screen, .lose-load, .loading-screen {
	width: 100%;
	height: auto;
	position: absolute;
}

.fade-in {
	animation: fadeIn 1s;
	opacity: 1;
}

.fade-out {
	animation: fadeOut 1s;
	opacity: 0;
}

.victory-screen {
	transform: translateX(-100%);
	animation: after-crit 2s;
}

.ttx0 {
	transform: translateX(0%);
}

.victory-end {
	animation: fadeIn 5s;
}

.lose-load {
	animation: fadeInFadeOut 2s;
	z-index: 6;
	opacity: 0;
}

.lose-end {
	opacity: 50%;
	width: 100%;
}

.blk-screen {
	background-color: black;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  45% { opacity: 1; }
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@keyframes fadeInFadeOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	51% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes crit {
	0% {
		transform:  translateX(-100%);
		transform-origin: 100% 50%;
		
	}
	50% {
		transform: translateX(0%);
		transform-origin: 100% 50%;
	}
	51% {
		transform: translateX(0%);
		transform-origin: 100% 50%;
	}
	100% {
		transform:  translateX(100%);
		transform-origin: 100% 50%;
		
	}
}

@keyframes after-crit {
	0% {
		opacity: 0;
		transform: translateX(-100%);
		transform-origin: 100% 50%;
	}
	50% {
		opacity: 1;
		transform: translateX(0%);
		transform-origin: 100% 50%;
	}
	51% {
		opacity: 1;
		transform: translateX(0%);
		transform-origin: 100% 50%;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
		transform-origin: 100% 50%;
	}
}

/* ~*~*~*~* SHAPES ~*~*~*~* */

.tpz {
	position: absolute;
	z-index: 3;
	border-top: 1em solid red;
}

.tpzr {
	border-left: 0.1em solid transparent;
	border-right: 0.5em solid transparent;
	width: 45%;
	height: auto;
	bottom: 15vw;
	left: -1vw;
	transform:rotate(-23deg);
	font-size: 2.5vw;
}

.tpzp {
	border-left: 0.1em solid transparent;
	border-right: 0.5em solid transparent;
	width: 41%;
	height: auto;
	bottom: 12vw;
	left: -1vw;
	transform:rotate(5deg);
	font-size: 3vw;
}

.tpzs {
	border-left: 0.1em solid transparent;
	border-right: 0.5em solid transparent;
	width: 10%;
	height: auto;
	bottom: 9vw;
	left: 19.5vw;
	transform:rotate(27deg);
	font-size: 3vw;
}

.tpz1 {
	border-left: 0em solid transparent;
	border-right: 0em solid transparent;
	width: 7%;
	height: auto;
	bottom: -10vw;
	left: -5vw;
	transform:rotate(-30deg);
	font-size: 50vw;
}

.tpz2 {
	border-left: 0.1em solid transparent;
	border-right: 0em solid transparent;
	width: 20%;
	height: auto;
	bottom: 2vw;
	left: 11vw;
	transform:rotate(70deg);
	font-size: 4vw;
}

.tpz3 {
	border-left: 0.1em solid transparent;
	border-right: 10em solid transparent;
	width: 5%;
	height: auto;
	bottom: 25vw;
	left: 7vw;
	transform:rotate(-100deg);
	font-size: 1vw;
}

.tpz4 {
	border-top: 1em solid black;
	z-index: 2;
	border-left: 0.1em solid transparent;
	border-right: 0.1em solid transparent;
	width: 13%;
	height: auto;
	bottom: 25vw;
	left: 7vw;
	transform:rotate(-98deg);
	font-size: 0.8vw;
}

.tpz5 {
	border-top: 1em solid black;
	z-index: 2;
	border-left: 0.1em solid transparent;
	border-right: 0.1em solid transparent;
	width: 13%;
	height: auto;
	bottom: 24vw;
	left: -5vw;
	transform:rotate(-140deg);
	font-size: 4.5vw;
}

