button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
  flex-direction: row;
}

.center {
	width: 100%;
	text-align: center;
}

.headflex {
	justify-content: space-around;
}

.header-init {
	padding: 3% 0%;
	width: 25%;
	color: white;
	background-color:bisque;
}

.score {
	padding: 3% 0%;
	width: 15%;
}

.header-init, .score {
	display: block;
	font-size: 35px;
}

.score-w {
	background-color: green;
}

.score-l {
	background-color: red;
}

.icon {
	font-size: 90px;
}

.btn {
	display: block;
	float: left;
	height: 180px;
	width: 120px;
	margin: 0% 5%;
	overflow: hidden;
	text-align: center;
}

.btn-h:hover {
	font-size: 120px;
}

#img-choices {
  width: 100%;
  
  justify-content: center;
  align-items: center; 
}